@font-face {
    font-family: 'Geometria-ExtraBold';
    src: url(./fonts/Geometria-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url(./fonts/Geometria-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(./fonts/Gilroy-FREE/Gilroy-Light.otf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(./fonts/Gilroy-FREE/Gilroy-ExtraBold.otf) format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* БЛОК: ГЛАВНАЯ СТРАНИЦА */

.wrapper-background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#363a5d+0,373b5e+66,35395c+66,373b5e+66,353b5d+71,373d5f+73,353b5d+74,383e60+74,363c60+74,363c60+78,383e62+79,383e62+85,353f62+86,373f63+92,363f60+92,373f64+94,374165+100 */
    background: #363a5d;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #363a5d 0%, #373b5e 66%, #35395c 66%, #373b5e 66%, #353b5d 71%, #373d5f 73%, #353b5d 74%, #383e60 74%, #363c60 74%, #363c60 78%, #383e62 79%, #383e62 85%, #353f62 86%, #373f63 92%, #363f60 92%, #373f64 94%, #374165 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #363a5d 0%, #373b5e 66%, #35395c 66%, #373b5e 66%, #353b5d 71%, #373d5f 73%, #353b5d 74%, #383e60 74%, #363c60 74%, #363c60 78%, #383e62 79%, #383e62 85%, #353f62 86%, #373f63 92%, #363f60 92%, #373f64 94%, #374165 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #363a5d 0%, #373b5e 66%, #35395c 66%, #373b5e 66%, #353b5d 71%, #373d5f 73%, #353b5d 74%, #383e60 74%, #363c60 74%, #363c60 78%, #383e62 79%, #383e62 85%, #353f62 86%, #373f63 92%, #363f60 92%, #373f64 94%, #374165 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#363a5d', endColorstr='#374165', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

body {
    padding: 0px;
    margin: 0px;
}


/* ---------- Header ----------  */

.header {
    position: relative;
    display: flex;
    height: 72px;
    padding: 0 30px 21px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.logo {
    position: relative;
}

.languages {
    display: flex;
    margin-left: 100px;
}

.lang {
    position: relative;
}

.lang a {
    list-style-type: none;
    opacity: 0.7;
    text-decoration: none;
    font-family: 'Geometria-Medium';
    font-size: 14;
    margin-right: 12px;
    color: #C5D5E6;
}

.topbar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.element a {
    list-style-type: none;
    opacity: 0.7;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 15px;
    color: white;
    font-family: 'Geometria-ExtraBold';
    font-size: 14px;
}

#fast-help {
    background: linear-gradient(56deg, rgba(231, 52, 83, 1) 0%, rgba(96, 130, 215, 1) 100%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    opacity: 1;
    border-radius: 5px;
    width: 190px;
    text-align: center;
    color: white;
    word-spacing: 10px;
    white-space: nowrap;
}

#select-element {
    width: 82px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.search {
    position: relative;
    display: flex;
}

#search-button:hover {
    cursor: pointer;
}

.login {
    position: relative;
    display: flex;
}

.login a {
    list-style-type: none;
    opacity: 0.5;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 0px;
    color: #C5D5E6;
    font-family: 'Geometria-Medium';
    font-size: 14px;
}


/* ---------- !!!!! Header ----------  */


/* ---------- Search ---------- */

#search-form-wrapper {
    position: absolute;
    top: 15px;
    left: 30px;
    right: 30px;
    display: none;
    z-index: 10;
    justify-content: center;
    clear: both;
}

#search-form {
    background-color: #C5D5E6;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(15px);
}

#search-form input[type="text"] {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 40px;
    font-family: "Geometria-Medium";
    text-align: center;
}

#close-search {
    position: relative;
    float: right;
    width: 62px;
    padding: 0;
}

input {
    padding: 0 20px;
    color: rgba(46, 63, 105, 0.5);
    font-family: "Geometria-ExtraBold";
    font-size: 18px;
    font-weight: 700;
}

#close-search:hover {
    cursor: pointer;
}

#search-form-suggestion {
    clear: both;
}


/* ---------- !!!!! Search ---------- */

#message-image {
    transform: translate(10px, -95px)
}

input {
    padding: 0 20px;
    color: rgba(46, 63, 105, 0.5);
    font-family: "Geometria-ExtraBold";
    font-size: 18px;
    font-weight: 700;
}

#search-button:hover {
    cursor: pointer;
}

#close-search:hover {
    cursor: pointer;
}

#search-form-suggestion {
    clear: both;
}

.wrapper-contact-information {
    position: relative;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
}

.phone {
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 64px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.email {
    color: #ffffff;
    font-family: "Geometria";
    font-size: 64px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.phone p {
    margin: 0px;
    padding: 0px;
}

.email p {
    margin: 0px;
    padding: 0px;
}

.text-under-email {
    margin-top: 60px;
    color: #ffffff;
    font-family: "Gilroy-Light";
    font-size: 18px;
    font-weight: 300;
}

.contact-input-forms {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-input-forms input {
    background-color: rgba(197, 213, 230, 0.2);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-family: "Geometria-Medium";
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: none;
}

.contact-input-forms a {}

.contact-input-forms a p {}

.central-element {
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.button-sent {
    display: flex;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
}

.button-sent a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: "Geometria-Medium";
    font-size: 14px;
    font-weight: 500;
}


/* ----------   Modal Result of Search ---------- */

#search-result {
    margin-top: 10px;
    position: absolute;
    display: none;
    width: 100%;
    border-radius: 10px;
    top: 60;
    overflow: hidden;
    z-index: 15;
    /* z-index: 2; */
    backdrop-filter: blur(10px);
    /* color: #fff; */
    /* font-size: 30px; */
    border-radius: 10px;
}

.search-result-block {
    background-color: rgba(197, 213, 230, 0.5);
    display: flex;
    flex-direction: column;
    border: 0;
    outline: none;
    color: #ffffff;
    font-family: "Geometria";
    font-size: 24px;
    font-weight: 500;
}

.search-result-block a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.result-block-first {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.result-block-second {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.search-position-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-block {
    color: #ffffff;
    font-family: "Gilroy Light";
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
}

.second-block {
    color: #ffffff;
    font-family: "Gilroy Light";
    font-size: 14px;
    font-weight: 300;
    margin-left: 50px;
}

.h6 {
    color: #ffffff;
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 500;
}


/* ---------- !!!!! Modal Result of Search ---------- */